<!-- <h1>Neue Frage hinzufügen</h1>

<form method="post">
    {% csrf_token %}
    <label for="question_text">Frage:</label>
    <input type="text" name="question_text" id="question_text" required>
    <br><br>
    <div id="form-container">
        <label for="question_text">Choice:</label>
        <br><input type="text" name="choice_text" id="choice_text" required><br>
        <label for="question_text">Choice:</label>
        <br><input type="text" name="choice_text" id="choice_text" required><br>
    </div>
    <button type="submit">Speichern</button>
    <button id = "choice_button" type="Add Choice">Choice</button>

</form>

<a href="{% url 'polls:index' %}">Zurück zur Übersicht</a> -->
<!DOCTYPE html>
<html lang="de">
{% load static %}

<head>
    <link rel="icon" href="{% static 'polls/GonLara.jpg' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="icon" href="{% static 'polls/GonLara.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Frage hinzufügen</title>
</head>
<body>
    <div class="topbar-user">
        <a href="{% url 'polls:user' %}">
            {% if request.user.profile.profile_image %}
                <img src="{{ request.user.profile.profile_image.url }}" alt="Profilbild" class="profile_images">
            {% else %}
                <img src="{% static 'polls/default_profile.png' %}" alt="Profilbild" class="profile_images">
            {% endif %}
                {{ user.username }}
        </a>
    </div>    
    <div class="content-wrapper">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {{ formset.management_form }}

            {% for choice_form in formset %}
                {{ choice_form.as_p }}
            {% endfor %}

            <button type="submit">Frage hinzufügen</button>
        </form>

        <a href="{% url 'polls:index' %}">Zurück zur Übersicht</a>
        <p></p>
        <a href="{% url 'polls:logout' %}" class="logout">Logout</a>
        <p></p>
        <a href="{% url 'polls:impressum' %}">Impressum</a>
    </div>

</html>