{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
{% if error_message %}
  <p style="color:red;">{{ error_message }}</p>
{% endif %}


<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    <p>Datum: {{ question.pub_date}}</p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
<a href="{% url 'polls:results' question.id %}">Ergebniss von {{ question.question_text }}</a>
</form>
<h2>Kommentare</h2>
<ul>

    {% for comment in comments_sorted %}
        <div class="box">
            <li id = "comment">{{ comment.comment_text }}</li>
            <li id = "date">Datum: {{ comment.pub_date}}</li>
            <li id = "author">User: {{ comment.author}}</li>
            <form method="post" action="{% url 'polls:like' comment.id%}">
              {% csrf_token %}
              <label for="id_comment_text">{{ comment.likes}}</label>
              <button type="submit">❤️</button>
            </form>
        </div>
    {% empty %}
        <p>Noch keine Kommentare.</p>
    {% endfor %}

</ul>

<form method="post" action="{% url 'polls:add_comment' question.id %}">
  {% csrf_token %}
  <label for="id_comment_text">Kommentar:</label>
  <input type="text" name="comment_text" id="id_comment_text" required>
  <button type="submit">Kommentar hinzufügen</button>
</form>
<a href="{% url 'polls:index' %}">Zurück zur Übersicht</a>
<p></p>
<a href="{% url 'polls:impressum' %}">Impressum</a>

