<!DOCTYPE html>
<html lang="de">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="{% static 'polls/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'polls/GonLara.png' %}">
    <title>Impressum</title>
</head>
<body>
    <div class="topbar-user">
      <a href="{% url 'polls:user' %}">
          {% if request.user.profile.profile_image %}
              <img src="{{ request.user.profile.profile_image.url }}" alt="Profilbild" class="profile_images">
          {% else %}
              <img src="{% static 'polls/default_profile.png' %}" alt="Profilbild" class="profile_images">
          {% endif %}
              {{ user.username }}
      </a>
    </div>
    <h1 class="h1">Impressum</h1>

  <p><strong>Medieninhaber:</strong></p>
  <p>
    Elia Laussegger<br>
    Schüler der HTL Spengergasse<br>
    Spengergasse 20, 1050 Wien<br>
    Österreich
  </p>

  <p><a href="{% url 'polls:index' %}">Zurück zur Übersicht</a></p>
  <p><a href="{% url 'polls:logout' %}" class="logout">Logout</a></p>
</body>
</html>
