
ul {
    list-style: none;
    padding-left: 0;
    text-decoration: none;
}
.date {
    font-size: small;
  }
.box {
  border: 2px solid black;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;            
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  line-height: .8;
  background: rgb(68, 68, 68);
}


.user_profile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  color: rgb(90, 90, 90);
  padding: 10px 20px;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  font-weight: bold;
  z-index: 1000;
  text-align: right;
}


.feed {
  color:white;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.topbar-user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #616161;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-weight: bold;
  z-index: 1000;
  text-align: right;
}
body {
  padding-top:  30px;
  background-color: #1d1d1d;

}


@media (max-width: 600px) {
    .box {
      font-size: 16px;
    }
    .button-link,
    button {
    width: 100%;
    font-size: 18px; 
    padding: 12px 0;
    margin-bottom: 10px; 
  }

  a {
    display: block;  
  }
  .user_profile {
    font-size: 0.9rem;
    max-width: 70vw;
    padding: 4px 8px;
  }
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;    
  gap: 10px;             
}
.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
}
.button-link,
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: hwb(0 41% 59%);
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.likeButton {
  background-color: transparent;
  border: none;                  
  color: inherit;  
}
.button-link:hover,
button:hover {
  background-color: #3a3a3b;

}
a:hover{
    text-decoration: underline;
}
a{
    color:white;
    text-decoration: none; 
}
a:active {

  color:white;
  text-decoration: none;
}
.form-group {
  margin-bottom: 15px;
}
p{
  color:white;
}

.text{
  color: rgb(199, 199, 199);
}
