
ul {
    list-style: none;
    padding-left: 0;
}
.date {
    font-size: small;
  }
.box {
    border: 2px solid black;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    margin: 10px 0;
}
.user_profile {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: bold;
  z-index: 1000;
  max-width: 90vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
    .box {
      font-size: 16px;
    }
    button {
    width: 100%;
    font-size: 18px; 
    padding: 12px 0;
    margin-bottom: 10px; 
  }

  a {
    display: block;   
  }
  .user_profile {
    font-size: 0.9rem;
    max-width: 70vw;
    padding: 4px 8px;
  }
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: hwb(0 41% 59%);
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.likeButton {
  background-color: transparent;
  border: none;                  
  color: inherit;  
}
button:hover {
  background-color: #3a3a3b;
}


.form-group {
  margin-bottom: 15px;
}

